/Gui/.svn
/GUi/.settings
/Dinosaurs_island/.settings
/Dinosaurs_island/.svn
/Dinosaurs_island/.classpath
/Dinosaurs_island/.project
/SourceProject/DinosaursIsland/.svn
/SourceProject/DinosaursIsland/.settings
/SourceProject/DinosaursIsland/.classpath
/SourceProject/DinosaursIsland/.project
/SourceProjects/DinosaursIsland/it.polimi.dinosaursisland.mappa.Map@7150bd4d
/SourceProjects/DinosaursIsland/it.polimi.dinosaursisland.partita.Game@675b7986
/SourceProjects/DinosaursIsland/it.polimi.dinosaursisland.partita.Game@7f12f614
/SourceProjects/DinosaursIsland/it.polimi.dinosaursisland.partita.Game@a422ede
